
SUPABASE_URL=https://imekpzzvylngpoagcdow.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltZWtwenp2eWxuZ3BvYWdjZG93Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDc2NjQ2OSwiZXhwIjoyMDgwMzQyNDY5fQ.gKGu4cuuK1aaDL-4QjXGOYqG_Dci6oFr2gQ_vGH3hxc

JOB_PROCESSOR_API_KEYS=d53df03041c9475ffe73f24be0abfefdb5b3953f00533f9360767ed21c783865

LLM_BASE_URL=https://uce.ngrok.app/v1
LLM_API_KEY=883ce9a9-50ef-46e2-806a-f93364764e70
LLM_MODEL_FILTER="EXAONE 4.0 32B (8bit)"
LLM_MODEL_ENRICH="EXAONE 4.0 32B (8bit)"
LLM_MODEL_DOMAIN="EXAONE 4.0 32B (8bit)"

APOLLO_API_KEY=H_OQ_cxYBGbmM1KPrmrBsQ
APOLLO_HEADER_NAME=X-Api-Key
BRAVE_SEARCH_API_KEY=BSA2NmXRQOp3jiWlUzD1SWY8hQ_u8hN

DEFAULT_SPONSORSHIP_LIKELIHOOD=N/A
HTTP_TIMEOUT_SECONDS=60
FETCH_MAX_BYTES=2000000

